@import url(./style.css);
.mapa-galar {
  width: 600px;
  display: block;
  margin: 10px auto;
  border-radius: 20px;
  border: 4px solid white;
  box-shadow:
    0 0 0 4px black,
    0 0 0 8px red;
}
